dev:
    host: awesome.bitrix-project.dev
    port: 22
    user: username
    stage: dev
    branch: master
    local: true
    app:
      db:
        name: username
        user: username
        password: ""
        host: localhost
    sync:
        source-server: staging
        source-path: /home/bitrix/www
        dest-path: ./core
        dirs:
          - upload
          - bitrix
        excludes:
          - cache
          - managed_cache
          - stack_cache
          - resize_cache
          - tmp
          - .settings.php
          - php_interface/dbconn.php

staging:
    host: staging.bitrix-project.dev
    port: 22
    user: www
    identity_file:
      public_key:  /home/username/.ssh/id_rsa.pub
      private_key: /home/username/.ssh/id_rsa
      password: ""
    stage: staging
    deploy_path: /home/bitrix/project
    sync_path: /home/bitrix/project/shared
    branch: master
    app:
      db:
        name: username
        user: username
        password: ""
        host: localhost
    sync:
        source-server: production
        source-path: /home/bitrix/www
        dest-path: ./shared/core
        dirs:
          - upload
          - bitrix
        excludes:
          - cache
          - managed_cache
          - stack_cache
          - resize_cache
          - tmp
          - .settings.php
          - php_interface/dbconn.php

production:
    host: bitrix-project.dev
    port: 22
    user: bitrix
    identity_file:
      public_key:  /home/username/.ssh/id_rsa.pub
      private_key: /home/username/.ssh/id_rsa
      password: ""
    stage: production
    deploy_path: /home/bitrix/username/
    sync_path: /home/bitrix/username/shared
    branch: production
    restart_cmd: "sudo /usr/sbin/service httpd restart"
    app:
      db:
        name: username
        user: username
        password: ""
        host: localhost